# dependencies
node_modules/

# build output
dist/
dist-ssr/
*.local

# vite
.vite/

# editors
.idea/
.vscode/
*.swp
*~

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example
